[Desktop Entry]
Type=Application
Icon=harbour-porthole
X-Nemo-Application-Type=silica-qt5
Exec=harbour-porthole
Name=Porthole

[X-Sailjail]
OrganizationName=org.nubecula
ApplicationName=Porthole
Permissions=Internet
