[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-porthole
Exec=sailfish-qml harbour-porthole
Name=Porthole

[X-Sailjail]
OrganizationName=org.nubecula
ApplicationName=porthole
Permissions=Internet

